@font-face {
    font-family: 'Inter';
    src: url('~@/assets/fonts/Inter-ExtraBold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'InterLight';
    src: url('~@/assets/fonts/Inter-Light.ttf') format('truetype');
  }

  @font-face {
    font-family: 'InterMedium';
    src: url('~@/assets/fonts/Inter-Medium.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'InterSemiBold';
    src: url('~@/assets/fonts/Inter-SemiBold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'InterRegular';
    src: url('~@/assets/fonts/Inter-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'InterExtraBold';
    src: url('~@/assets/fonts/Inter-ExtraBold.ttf') format('truetype');
  }